.checkout{
    max-width:100vw;
    min-height:100vh;
    padding:10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 3px;
}
.checkout-left{
    width:70%;
}
.checkout-right{
    width:28%;
    height:100px;
   padding: 20px;
    background-color: #f3f3f3;
}
.checkout-ad{
    width:100%;
    height:140px;
    object-fit:cover;
    margin-bottom: 10px;
}